.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}
.navBar{
  background-color: #222;
}
.navBar>div{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar a{
  font-size: 1.2rem;
  letter-spacing: .3px;
  padding: .5rem 1rem;
  color: white;
}
.navBar>div>a:nth-child(2){
  border-left: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
